In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for index in mylist:
    print(index)

1
2
3
4
5
6
7
8
9
10

In [5]:
for index in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [8]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [9]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)   
    else:
        print("odd number")

odd number
2
odd number
4
odd number
6
odd number
8
odd number
10

In [10]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)   
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [12]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [13]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [17]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [18]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [19]:
mylist

[(1, 2), (3, 4), (5, 6), (7, 8)]

In [20]:
len(mylist)

4

In [21]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [22]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

This is called tuple unpacking, right above and below

In [23]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [24]:
for a,b in mylist:
    print(a)

1
3
5
7

In [25]:
for a,b in mylist:
    print(b)

2
4
6
8

In [26]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [27]:
mylist

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [31]:
for a,b,c in mylist:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [32]:
for (a,b,c) in mylist:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [33]:
for a,b,c in mylist:
    print(b)

2
5
8

In [34]:
for a,b,c in mylist:
    print(c)

3
6
9

In [35]:
for a,b,c in mylist:
    print(a)

1
4
7

In [36]:
d = {'k1':1, 'k2':2, 'k3':3}

In [37]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [38]:
for item in d:
    print(item)

k1
k2
k3

In [39]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [40]:
for key,value in d.items():
    print(value)

1
2
3

In [41]:
for value in d.values():
    print(value)

1
2
3

In [42]:
for value in d.keys():
    print(value)

k1
k2
k3